extends layout

block content
 section.section-padding.bg-dark.py-5.inner-header
  .container
    .row
      .col-md-12.text-center
        h1.mt-0.mb-3.text-white Tentang Kami
        .breadcrumbs
          p.mb-0.text-white
            a.text-white(href='#') Beranda
            |   /  
            span.text-success Tentang Kami
 section.py-5.bg-white
  .container
    .row
      .col-lg-4.col-md-4
        h3.mt-1.mb-4 Lokasi Kami
        h6.text-dark
          i.mdi.mdi-home-map-marker
          |  Alamat :
        p 86 Petersham town, New South wales Waedll Steet, Australia PA 6550
        h6.text-dark
          i.mdi.mdi-phone
          |  No Telepon :
        p +91 12345-67890, (+91) 123 456 7890
        h6.text-dark
          i.mdi.mdi-deskphone
          |  No Handphone :
        p (+20) 220 145 6589, +91 12345-67890
        h6.text-dark
          i.mdi.mdi-email
          |  Email :
        p yoursite@gmail.com, info@gmail.com
        h6.text-dark
          i.mdi.mdi-link
          |  Website :
        p www.Webartinfo.com
        .footer-social.mb-4
          span Follow : 
          a(href='#')
            i.mdi.mdi-facebook
          a(href='#')
            i.mdi.mdi-twitter
          a(href='#')
            i.mdi.mdi-instagram
          a(href='#')
            i.mdi.mdi-google
      .col-lg-8.col-md-8
        .card
          .card-body
            #wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3.map
              #map-9cd199b9cc5410cd3b1ad21cab2e54d3
              script.
                (function () {
                var setting = {"height":450,"width":803,"zoom":15,"queryString":"Candás, Spain","place_id":"ChIJuXoxw-aANg0RZ1DUQHMSFTM","satellite":false,"centerCoord":[43.59051127662882,-5.768219799999998],"cid":"0x3315127340d45067","lang":"en","cityUrl":"/spain/candas-8349","cityAnchorText":"Map of Candas, Asturias, Spain","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"215844"};
                var d = document;
                var s = d.createElement('script');
                s.src = 'https://1map.com/js/script-for-user.js?embed_id=215844';
                s.async = true;
                s.onload = function (e) {
                window.OneMap.initMap(setting)
                };
                var to = d.getElementsByTagName('script')[0];
                to.parentNode.insertBefore(s, to);
                })();
              a(href='https://1map.com/map-embed') 1 Map
 section.py-5
  .container
    .row
      .col-lg-12.col-md-12.section-title.text-left.mb-4
        h2 Hubungi Kami
      form.col-lg-12.col-md-12(name='sentMessage')
        .row
          .control-group.form-group.col-lg-4.col-md-4
            .controls
              label
                | Nama Anda
                span.text-danger *
              input.form-control(type='text' required='')
          .control-group.form-group.col-lg-4.col-md-4
            .controls
              label
                | Alamat Email
                span.text-danger *
              input.form-control(type='email' required='')
          .control-group.form-group.col-lg-4.col-md-4
            .controls
              label
                | No Telepon
                span.text-danger *
              input.form-control(type='email' required='')
        .control-group.form-group
          .controls
            label
              | Pesan
              span.text-danger *
            textarea.form-control(rows='10' cols='100')
        button.btn.btn-success(type='submit') Kirim Pesan
