extends layoutauth

block content
 .bg-white
  .container
    .row.justify-content-center.align-items-center.d-flex.vh-100
      .col-lg-4.mx-auto
        .osahan-login.py-4
          .text-center.mb-4
            a(href='index.html')
              img(src='/images/logo-horizontal.png' style='width: 200px !important' alt='')
            h5.font-weight-bold.mt-3 Ingatkah informasi akun anda?
            p.text-muted Masukan email atau no telepon
          form(action='index.html')
            .form-group
              label.mb-1 Email atau No Telepon
              .position-relative.icon-form-control
                i.mdi.mdi-account.position-absolute
                input.form-control(type='email')
            button.btn.btn-success.btn-block.text-uppercase(type='submit')  Cari Akun
            .py-3.d-flex.align-item-center
              a(href='/login') Masuk Akun
              span.ml-auto
                | Baru di ANORA? 
                a(href='/register') Daftar Baru
