extends layout

block content
  section.py-5.homepage-search-block.position-relative(style='background: linear-gradient(to right, #63CDF6 0%, #1B1464 100%)')
    .container
      .row.py-lg-5
        .col-lg-7
          iframe(type='text/html' width='640' height='390' frameborder='0'
            src='https://www.youtube.com/embed/SmKTEVBKKqk?autoplay=1&origin=http://example.com' style='margin-bottom:50px')
        .col-lg-5(style='align-self: center')
          .homepage-search-title
            h1.mb-3.text-shadow.text-gray-900.font-weight-bold(style='color:white;font-size:2.2rem;font-style:italic')
              | "The goal is to turn data into information and information into insight"
            h6.mb-5.text-shadow.text-gray-800.font-weight-normal(style='color:white;font-style:italic')
              | - Former CEO HP
        .col-lg-7
          .homepage-search-title
            h1.mb-3.text-shadow.text-gray-900.font-weight-bold(style='color:white;font-size:2.2rem') Olah data Anda dalam sekali klik! 
            h5.mb-5.text-shadow.text-gray-800.font-weight-normal(style='color:white')
              | Temukan statistisi sesuai kebutuhan Anda. Terdapat semua jenis jasa layanan statistika baik olah data, data entry, jasa pembuatan kuisioner, konsultasi statistik, dan sebagainya.
          .homepage-search-form
            form.form-noborder
              .form-row
                .col-lg-3.col-md-3.col-sm-12.form-group
                  .location-dropdown
                    i.icofont-location-arrow
                    select.custom-select.form-control.border-0.shadow-sm.form-control-lg
                      option  Semua 
                      option  Olah Data
                      option  Data Entry
                      option  Jasa Pembuatan Kuisioner
                      option  Konsultasi Statistik
                .col-lg-7.col-md-7.col-sm-12.form-group
                  input.form-control.border-0.form-control-lg.shadow-sm(type='text' placeholder='Cari Statistisi atau Keahliannya...')
                .col-lg-2.col-md-2.col-sm-12.form-group
                  button.btn.btn-success.btn-block.btn-lg.btn-gradient.shadow-sm(type='submit')
                    i.fa.fa-search
          .popular
            span.text-body-2(style='color:white') Populer
            ul
              li
                a.text-body-2(href='#', style='color:white') SPSS
              li
                a.text-body-2(href='#', style='color:white') Python
              li
                a.text-body-2(href='#', style='color:white') R
              li
                a.text-body-2(href='#', style='color:white') Analisis Regresi
              li
                a.text-body-2(href='#', style='color:white') Olah Data
        .col-lg-5
          img.img-fluid(src='images/landing/banner.svg' alt='')
  .container
    .about-section.py-5
      .row.align-items-center
        .col-md-6
          h2 Solusi Data Anda dengan ANORA
          ul
            li
              span 
                img(src="/images/landing/checkmark.svg", alt="")
                | Statistisi pilihan yang berpengalaman
              | Tersedia banyaknya pilihan statistisi yang berpengalaman, dan telah diverifikasi dengan baik oleh tim ANORA
            li
              span 
                img(src="/images/landing/checkmark.svg", alt="")
                | Layanan Revisi
              | Kami memastikan hasil yang anda terima adalah yang anda inginkan
            li
              span 
                img(src="/images/landing/checkmark.svg", alt="")
                | Layanan interpretasi data sepuasnya
              | Menyediakan fitur interpretasi dengan bebas & sepuasnya
            li
              span 
                img(src="/images/landing/checkmark.svg", alt="")
                | Hasil & kualitas terjamin
              | Hasil pekerjaan di validasi & verifikasi oleh tim ANORA untuk memastikan kami memberikan hasil yang berkualitas
            li
              span 
                img(src="/images/landing/checkmark.svg", alt="")
                | Harga terjangkau
              | Kami senantiasa menyesuaikan harga yang pas untuk anda, menyediakan fitur untuk bisa bernegosiasi dengan para Statistisi kami
        .col-md-6
          img.video-img.w-100(src="/images/landing/video.svg", alt="")

  section.py-5.bg-white
    .view_slider.recommended
      .container
        .row
          .col-lg-12
            h3 Statisisi Terbaik
            .view.recent-slider.recommended-slider
              div
                a(href='#')
                  img.img-fluid(src='images/default_user.jpg')
                .inner-slider
                  .inner-wrapper
                    .d-flex.align-items-center
                      span.seller-image
                        img.img-fluid(src='images/default_user.jpg' alt='')
                      span.seller-name
                        a(href='#') Dieka Prastya
                        span.level.hint--top.level-one-seller
                          | Level 1 Statistisi
                    h3 Saya akan membantu pengelolaan data anda, dan memberikan pengelolaan data dengan kualitas terbaik yang dapat saya berikan
                    .content-info
                      .rating-wrapper
                        span.gig-rating.text-body-2
                          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1792 1792' width='15' height='15')
                            path(fill='currentColor' d='M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z')
                          |  5.0
                          span (7)
                    .footer
                      i.fa.fa-heart(aria-hidden='true')
              div
                a(href='#')
                  img.img-fluid(src='images/default_user.jpg')
                .inner-slider
                  .inner-wrapper
                    .d-flex.align-items-center
                      span.seller-image
                        img.img-fluid(src='images/default_user.jpg' alt='')
                      span.seller-name
                        a(href='#') Dieka Prastya
                        span.level.hint--top.level-one-seller
                          | Level 1 Statistisi
                    h3 Saya akan membantu pengelolaan data anda, dan memberikan pengelolaan data dengan kualitas terbaik yang dapat saya berikan
                    .content-info
                      .rating-wrapper
                        span.gig-rating.text-body-2
                          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1792 1792' width='15' height='15')
                            path(fill='currentColor' d='M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z')
                          |  5.0
                          span (7)
                    .footer
                      i.fa.fa-heart(aria-hidden='true')
              div
                a(href='#')
                  img.img-fluid(src='images/default_user.jpg')
                .inner-slider
                  .inner-wrapper
                    .d-flex.align-items-center
                      span.seller-image
                        img.img-fluid(src='images/default_user.jpg' alt='')
                      span.seller-name
                        a(href='#') Dieka Prastya
                        span.level.hint--top.level-one-seller
                          | Level 1 Statistisi
                    h3 Saya akan membantu pengelolaan data anda, dan memberikan pengelolaan data dengan kualitas terbaik yang dapat saya berikan
                    .content-info
                      .rating-wrapper
                        span.gig-rating.text-body-2
                          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1792 1792' width='15' height='15')
                            path(fill='currentColor' d='M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z')
                          |                                           5.0
                          span (7)
                    .footer
                      i.fa.fa-heart(aria-hidden='true')
              div
                a(href='#')
                  img.img-fluid(src='images/default_user.jpg')
                .inner-slider
                  .inner-wrapper
                    .d-flex.align-items-center
                      span.seller-image
                        img.img-fluid(src='images/default_user.jpg' alt='')
                      span.seller-name
                        a(href='#') Dieka Prastya
                        span.level.hint--top.level-one-seller
                          | Level 1 Statistisi
                    h3 Saya akan membantu pengelolaan data anda, dan memberikan pengelolaan data dengan kualitas terbaik yang dapat saya berikan
                    .content-info
                      .rating-wrapper
                        span.gig-rating.text-body-2
                          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1792 1792' width='15' height='15')
                            path(fill='currentColor' d='M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z')
                          |                                           5.0
                          span (7)
                    .footer
                      i.fa.fa-heart(aria-hidden='true')
              div
                a(href='#')
                  img.img-fluid(src='images/default_user.jpg')
                .inner-slider
                  .inner-wrapper
                    .d-flex.align-items-center
                      span.seller-image
                        img.img-fluid(src='images/default_user.jpg' alt='')
                      span.seller-name
                        a(href='#') Dieka Prastya
                        span.level.hint--top.level-one-seller
                          | Level 1 Statistisi
                    h3 Saya akan membantu pengelolaan data anda, dan memberikan pengelolaan data dengan kualitas terbaik yang dapat saya berikan
                    .content-info
                      .rating-wrapper
                        span.gig-rating.text-body-2
                          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1792 1792' width='15' height='15')
                            path(fill='currentColor' d='M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z')
                          |                                           5.0
                          span (7)
                    .footer
                      i.fa.fa-heart(aria-hidden='true')
              div
                a(href='#')
                  img.img-fluid(src='images/default_user.jpg')
                .inner-slider
                  .inner-wrapper
                    .d-flex.align-items-center
                      span.seller-image
                        img.img-fluid(src='images/default_user.jpg' alt='')
                      span.seller-name
                        a(href='#') Dieka Prastya
                        span.level.hint--top.level-one-seller
                          | Level 1 Statistisi
                    h3 Saya akan membantu pengelolaan data anda, dan memberikan pengelolaan data dengan kualitas terbaik yang dapat saya berikan
                    .content-info
                      .rating-wrapper
                        span.gig-rating.text-body-2
                          svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1792 1792' width='15' height='15')
                            path(fill='currentColor' d='M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z')
                          |                                           5.0
                          span (7)
                    .footer
                      i.fa.fa-heart(aria-hidden='true')

  div
    .get-started(style='background: linear-gradient(to right, #63CDF6 0%, #1B1464 100%)')
      .content
        h2.text-white Cari Statistisi untuk Pekerjaan Anda Sekarang
        p.text-white Kami dapat membantu pengolahan data anda menjadi lebih berkualitas
        a.c-btn.btn.btn-success.btn-lg.btn-gradient.shadow-sm(href='#') Mulai Sekarang
