doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Gurdeep singh osahan')
  meta(name='author' content='Gurdeep singh osahan')
  title= title
  // Favicon Icon
  link(rel='icon' type='image/png' href='/images/simbol.png')
  // Bootstrap core CSS
  link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Font Awesome
  link(href='/vendor/fontawesome/css/font-awesome.min.css' rel='stylesheet')
  // Material Design Icons
  link(href='/vendor/icons/css/materialdesignicons.min.css' media='all' rel='stylesheet' type='text/css')
  // Slick
  link(href='/vendor/slick-master/slick/slick.css' rel='stylesheet' type='text/css')
  // Lightgallery
  link(href='/vendor/lightgallery-master/dist/css/lightgallery.min.css' rel='stylesheet')
  // Select2 CSS
  link(href='/vendor/select2/css/select2-bootstrap.css')
  link(href='/vendor/select2/css/select2.min.css' rel='stylesheet')
  // Custom styles for this template
  link(href='/stylesheets/landing/style.css' rel='stylesheet')
  link(href='/stylesheets/landing/style-adjust.css' rel='stylesheet')
nav.navbar.navbar-expand-lg.navbar-light.topbar.static-top.shadow-sm.bg-white.osahan-nav-top.px-0
  .container
    // Sidebar Toggle (Topbar)
    a.navbar-brand(href='/')
      img(src='/images/logo-horizontal.png' alt='')
    // Topbar Search
    form.d-none.d-sm-inline-block.form-inline.mr-auto.my-2.my-md-0.mw-100.navbar-search
      .input-group
        input.form-control.bg-white.small(type='text' placeholder='Cari Statistisi...' aria-label='Search' aria-describedby='basic-addon2')
        .input-group-append
          button.btn.btn-success(type='button')
            i.fa.fa-search.fa-sm
    // Topbar Navbar
    ul.navbar-nav.align-items-center.ml-auto
      li.nav-item.dropdown.no-arrow.no-caret.mr-3.dropdown-notifications.d-sm-none
        a#searchDropdown.btn.btn-icon.btn-transparent-dark.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.fa.fa-search.fa-fw
        // Dropdown - Messages
        .dropdown-menu.dropdown-menu-right.p-3.shadow-sm.animated--grow-in(aria-labelledby='searchDropdown')
          form.form-inline.mr-auto.w-100.navbar-search
            .input-group
              input.form-control.bg-light.border-0.small(type='text' placeholder='Cari Statistisi...' aria-label='Search' aria-describedby='basic-addon2')
              .input-group-append
                button.btn.btn-primary(type='button')
                  i.fa.fa-search.fa-sm
      li.nav-item.dropdown.no-arrow.no-caret.mr-3.dropdown-notifications
        a#navbarDropdownAlerts.btn.btn-icon.btn-transparent-dark.dropdown-toggle(href='javascript:void(0);' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          svg.feather.feather-bell(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9')
            path(d='M13.73 21a2 2 0 0 1-3.46 0')
        .dropdown-menu.dropdown-menu-right.border-0.shadow.animated--fade-in-up(aria-labelledby='navbarDropdownAlerts')
          h6.dropdown-header.dropdown-notifications-header
            svg.feather.feather-bell.mr-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9')
              path(d='M13.73 21a2 2 0 0 1-3.46 0')
            | Notifikasi
          a.dropdown-item.dropdown-notifications-item(href='#!')
            .dropdown-notifications-item-icon.bg-warning
              svg.feather.feather-activity(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                polyline(points='22 12 18 12 15 21 9 3 6 12 2 12')
            .dropdown-notifications-item-content
              .dropdown-notifications-item-content-details December 29, 2020
              .dropdown-notifications-item-content-text This is an alert message. It&apos;s nothing serious, but it requires your attention.
          a.dropdown-item.dropdown-notifications-item(href='#!')
            .dropdown-notifications-item-icon.bg-info
              svg.feather.feather-bar-chart(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                line(x1='12' y1='20' x2='12' y2='10')
                line(x1='18' y1='20' x2='18' y2='4')
                line(x1='6' y1='20' x2='6' y2='16')
            .dropdown-notifications-item-content
              .dropdown-notifications-item-content-details December 22, 2020
              .dropdown-notifications-item-content-text A new monthly report is ready. Click here to view!
          a.dropdown-item.dropdown-notifications-item(href='#!')
            .dropdown-notifications-item-icon.bg-danger
              svg.svg-inline--fa.fa-exclamation-triangle.fa-w-18(aria-hidden='true' focusable='false' data-prefix='fas' data-icon='exclamation-triangle' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 576 512' data-fa-i2svg='')
                path(fill='currentColor' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z')
              // <i class="fas fa-exclamation-triangle"></i>
            .dropdown-notifications-item-content
              .dropdown-notifications-item-content-details December 8, 2020
              .dropdown-notifications-item-content-text Critical system failure, systems shutting down.
          a.dropdown-item.dropdown-notifications-item(href='#!')
            .dropdown-notifications-item-icon.bg-success
              svg.feather.feather-user-plus(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                path(d='M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2')
                circle(cx='8.5' cy='7' r='4')
                line(x1='20' y1='8' x2='20' y2='14')
                line(x1='23' y1='11' x2='17' y2='11')
            .dropdown-notifications-item-content
              .dropdown-notifications-item-content-details December 2, 2020
              .dropdown-notifications-item-content-text New user request. Woody has requested access to the organization.
          a.dropdown-item.dropdown-notifications-footer(href='/user/notification') Lihat Semua Notifikasi
      li.nav-item.dropdown.no-arrow.no-caret.mr-3.dropdown-notifications
        a#navbarDropdownMessages.btn.btn-icon.btn-transparent-dark.dropdown-toggle(href='javascript:void(0);' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          svg.feather.feather-mail(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z')
            polyline(points='22,6 12,13 2,6')
        .dropdown-menu.dropdown-menu-right.border-0.shadow.animated--fade-in-up(aria-labelledby='navbarDropdownMessages')
          h6.dropdown-header.dropdown-notifications-header
            svg.feather.feather-mail.mr-2(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z')
              polyline(points='22,6 12,13 2,6')
            |  Kotak Pesan
          a.dropdown-item.dropdown-notifications-item(href='#!')
            img.dropdown-notifications-item-img(src='/images/default_user.jpg')
            .dropdown-notifications-item-content
              .dropdown-notifications-item-content-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .dropdown-notifications-item-content-details Emily Fowler &middot; 58m
          a.dropdown-item.dropdown-notifications-item(href='#!')
            img.dropdown-notifications-item-img(src='/images/default_user.jpg')
            .dropdown-notifications-item-content
              .dropdown-notifications-item-content-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              .dropdown-notifications-item-content-details Diane Chambers &middot; 2d
          a.dropdown-item.dropdown-notifications-footer(href='/user/message') Baca Semua Pesan
      li.nav-item.dropdown.no-arrow.no-caret.dropdown-user
        a#navbarDropdownUserImage.btn.btn-icon.btn-transparent-dark.dropdown-toggle(href='javascript:void(0);' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          img.img-fluid(src='/images/default_user.jpg')
        .dropdown-menu.dropdown-menu-right.border-0.shadow.animated--fade-in-up(aria-labelledby='navbarDropdownUserImage')
          h6.dropdown-header.d-flex.align-items-center
            img.dropdown-user-img(src='/images/default_user.jpg')
            .dropdown-user-details
              .dropdown-user-details-name Dieka Prastya
              .dropdown-user-details-email dieks1995@gmail.com
          .dropdown-divider
          a.dropdown-item(href='account.html')
            .dropdown-item-icon
              svg.feather.feather-settings(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                circle(cx='12' cy='12' r='3')
                path(d='M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z')
            | Profil
          a.dropdown-item(href='#')
            .dropdown-item-icon
              svg.feather.feather-log-out(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                path(d='M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4')
                polyline(points='16 17 21 12 16 7')
                line(x1='21' y1='12' x2='9' y2='12')
            |                         Logout
// Navigation
nav.navbar.navbar-expand-lg.navbar-light.bg-white.osahan-nav-mid.px-0.border-top.shadow-sm
  .container
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item.dropdown
          a.nav-link(href='/')
            | Beranda
        li.nav-item
          a.nav-link(href='/browse') Telusuri Statistisi
        li.nav-item
          a.nav-link(href='/about') Tentang Kami
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='/login')
          span Login
      li.nav-item
        a.nav-link(href='/register')
          span Daftar Baru
// Begin Page Content
block content
// footer
footer.bg-white(style='padding-top: 0px !important')
  .container
    .copyright(style='border-top: none')
      .logo
        a(href='index.html')
          img(src='/images/logo-horizontal.png')
      p
        | &copy; Copyright 2020 ANORAs. All Rights Reserved
      ul.social
        li
          a(href='#')
            i.fa.fa-facebook(aria-hidden='true')
        li
          a(href='#')
            i.fa.fa-twitter(aria-hidden='true')
        li
          a(href='#')
            i.fa.fa-linkedin(aria-hidden='true')
        li
          a(href='#')
            i.fa.fa-pinterest-p(aria-hidden='true')
        li
          a(href='#')
            i.fa.fa-instagram(aria-hidden='true')
// footer
// Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Contact form JavaScript
// Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file.
//- script(src='js/jqBootstrapValidation.js')
//- script(src='js/contact_me.js')
// Slick
script(src='/vendor/slick-master/slick/slick.js' type='text/javascript' charset='utf-8')
// lightgallery
script(src='/vendor/lightgallery-master/dist/js/lightgallery-all.min.js')
// select2 Js
script(src='/vendor/select2/js/select2.min.js')
// Custom
script(src='javascripts/landing/custom.js')