extends layoutauth

block content
 .bg-white
  .container
    .row.justify-content-center.align-items-center.d-flex.vh-100
      .col-lg-4.mx-auto
        .osahan-login.py-4
          .text-center.mb-4
            a(href='/')
              img(src='/images/logo-horizontal.png' style='width: 200px !important' alt='')
            h5.font-weight-bold.mt-3 Selamat Datang Kembali
            p.text-muted
              | Jangan lewatkan penawaran pengolahan data, dan dapatkan informasi terbaru.
            if successes
              for success in successes
                div.alert.alert-success 
                  strong #{ success }
            if errors
              for error, i in errors
                div.alert.alert-danger
                  strong #{ error }
          form(action='/auth/login' method="post")
            .form-group
              label.mb-1 Email atau No. Telepon
              .position-relative.icon-form-control
                i.mdi.mdi-account.position-absolute
                input.form-control(type='email' name='email')
            .form-group
              label.mb-1 Password
              .position-relative.icon-form-control
                i.mdi.mdi-key-variant.position-absolute
                input.form-control(type='password' name='password')
            .custom-control.custom-checkbox.mb-3
              input#customCheck1.custom-control-input(type='checkbox')
              label.custom-control-label(for='customCheck1') Ingat kata sandi
            button.btn.btn-success.btn-block.text-uppercase(type='submit')  Masuk
            .text-center.mt-3.border-bottom.pb-3
              p.small.text-muted Atau login menggunakan
              .row
                .col-6
                  button.btn.btn-outline-instagram.btn-block(type='button')
                    i.mdi.mdi-instagram
                    |  Instagram
                .col-6
                  button.btn.btn-outline-facebook.btn-block(type='button')
                    i.mdi.mdi-facebook
                    |  Facebook
            .py-3.d-flex.align-item-center
              a(href='forgot-password.html') Lupa kata sandi?
              span.ml-auto
                | Baru di ANORA? 
                a(href='/register') Daftar Baru

