extends layout

block content
 .py-5
  .container
    .row
      main.col.col-xl-12.order-xl-2.col-lg-12.order-lg-1.col-md-12.col-sm-12.col-12
        .box.shadow-sm.rounded.bg-white.mb-3.osahan-chat
          h5.pl-3.pt-3.pr-3.border-bottom.mb-0.pb-3 Kotak Pesan
          .row.m-0
            .border-right.col-lg-5.col-xl-4.px-0
              .osahan-chat-left
                .position-relative.icon-form-control.p-3.border-bottom
                  i.fa.fa-search.position-absolute
                  input.form-control(placeholder='Cari pesan' type='text')
                .osahan-chat-list
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate Ashley Briggs
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check.text-primary
                        |  Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.bg-light.border-left.border-primary.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Carl Jenkins
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check
                        |  Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Bertha Martin
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check.text-primary
                        |  Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Stacie Hall
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check
                        |  Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      .dropdown-list-image.mr-3.d-flex.align-items-center.bg-danger.justify-content-center.rounded-circle.text-white A
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate Ashley Briggs
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check.text-primary
                        |  Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Carl Jenkins
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check
                        |  Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Bertha Martin
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check.text-primary
                        |  Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      .dropdown-list-image.mr-3.d-flex.align-items-center.bg-success.justify-content-center.rounded-circle.text-white S
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Stacie Hall
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check
                        |  Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Bertha Martin
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check.text-primary
                        |  Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Stacie Hall
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check
                        |  Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      .dropdown-list-image.mr-3.d-flex.align-items-center.bg-danger.justify-content-center.rounded-circle.text-white A
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate Ashley Briggs
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check.text-primary
                        |  Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Carl Jenkins
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check
                        |  Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.border-bottom.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      img.rounded-circle(src='/images/default_user.jpg' alt='')
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Bertha Martin
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check.text-primary
                        |  Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
                  .p-3.d-flex.align-items-center.osahan-post-header.overflow-hidden
                    .dropdown-list-image.mr-3
                      .dropdown-list-image.mr-3.d-flex.align-items-center.bg-success.justify-content-center.rounded-circle.text-white S
                    .font-weight-bold.mr-1.overflow-hidden
                      .text-truncate
                        | Stacie Hall
                      .small.text-truncate.overflow-hidden.text-black-50
                        i.mdi.mdi-check
                        |  Semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
                    span.ml-auto.mb-auto
                      .text-right.text-muted.pt-1.small 00:21PM
            .col-lg-7.col-xl-8.px-0
              .p-3.d-flex.align-items-center.border-bottom.osahan-post-header
                .font-weight-bold.mr-1.overflow-hidden
                  .text-truncate
                    | Carl Jenkins
                  .small.text-truncate.overflow-hidden.text-black-50 Statistisi - Jasa Pengolahan Data SPSS
                span.ml-auto
                  button.btn.btn-light.btn-sm.rounded(type='button')
                    i.mdi.mdi-phone
                  button.btn.btn-light.btn-sm.rounded(type='button')
                    i.mdi.mdi-video
                  .btn-group
                    button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.mdi.mdi-dots-vertical
                    .dropdown-menu.dropdown-menu-right
                      button.dropdown-item(type='button')
                        i.mdi.mdi-trash
                        |  Delete
                      button.dropdown-item(type='button')
                        i.mdi.mdi-x-circle
                        |  Turn Off
              .osahan-chat-box.p-3.border-top.border-bottom.bg-light
                .text-center.my-3
                  span.px-3.py-2.small.bg-white.shadow-sm.rounded DEC 21, 2020
                .d-flex.align-items-center.osahan-post-header
                  .dropdown-list-image.mr-3.mb-auto
                    img.rounded-circle(src='/images/default_user.jpg' alt='')
                  .mr-1
                    .text-truncate.h6.mb-3
                      | Carl Jenkins
                    p Hi Marie
                    p
                      | welcome to Live Chat! My name is Jason. How can I help you today?
                  span.ml-auto.mb-auto
                    .text-right.text-muted.pt-1.small 00:21PM
                .text-center.my-3
                  span.px-3.py-2.small.bg-white.shadow-sm.rounded DEC 22, 2020
                .d-flex.align-items-center.osahan-post-header
                  .dropdown-list-image.mr-3.mb-auto
                    img.rounded-circle(src='/images/default_user.jpg' alt='')
                  .mr-1
                    .text-truncate.h6.mb-3
                      | Jack P. Angulo
                    p Hi, I wanted to check my order status. My order number is 0009483021 &#x1F600;
                  span.ml-auto.mb-auto
                    .text-right.text-muted.pt-1.small 00:21PM
                .text-center.my-3
                  span.px-3.py-2.small.bg-white.shadow-sm.rounded DEC 23, 2020
                .d-flex.align-items-center.osahan-post-header
                  .dropdown-list-image.mr-3.mb-auto
                    img.rounded-circle(src='/images/default_user.jpg' alt='')
                  .mr-1
                    .text-truncate.h6.mb-3
                      | Carl Jenkins
                    p Is there anything else that I can do for you?
                    p
                      | wI understand your concern&mldr; I wouldn&rsquo;t want my child&rsquo;s gift to arrive late either. It looks like your order is set to arrive in 2 business days, so it should arrive by Friday, just in time!
                  span.ml-auto.mb-auto
                    .text-right.text-muted.pt-1.small 00:21PM
                .text-center.my-3
                  span.px-3.py-2.small.bg-white.shadow-sm.rounded DEC 24, 2020
                .d-flex.align-items-center.osahan-post-header
                  .dropdown-list-image.mr-3.mb-auto
                    img.rounded-circle(src='/images/default_user.jpg' alt='')
                  .mr-1
                    .text-truncate.h6.mb-3
                      | Jack P. Angulo
                    p
                      | Great, thank you! Yes, I also wanted to make sure I entered the right shipping address. My address is 12390 Mulberry Ln, Coral Springs, FL 33067. Is that where it&rsquo;s being shipped to?
                  span.ml-auto.mb-auto
                    .text-right.text-muted.pt-1.small 00:21PM
              .w-100.border-top.border-bottom
                textarea.form-control.border-0.p-3.shadow-none(placeholder='Tulis pesan…' rows='2')
              .p-3.d-flex.align-items-center
                .overflow-hidden
                  button.btn.btn-light.btn-sm.rounded(type='button')
                    i.mdi.mdi-image
                  button.btn.btn-light.btn-sm.rounded(type='button')
                    i.mdi.mdi-paperclip
                  button.btn.btn-light.btn-sm.rounded(type='button')
                    i.mdi.mdi-camera
                span.ml-auto
                  button.btn.btn-success.btn-sm.rounded(type='button')
                    i.mdi.mdi-send
                    |  Kirim
