extends layout

block content
 .py-5
  .container
    .row
     .col-lg-12.right
        .box.shadow-sm.rounded.bg-white.mb-3
          .box-title.border-bottom.p-3
            h6.m-0 Terbaru
          .box-body.p-0
            .p-3.d-flex.align-items-center.bg-light.border-bottom.osahan-post-header
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/images/default_user.jpg' alt='')
              .font-weight-bold.mr-3
                .text-truncate DAILY RUNDOWN: WEDNESDAY
                .small Income tax sops on the cards, The bias in VC funding, and other top news for you
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 3d
            .p-3.d-flex.align-items-center.osahan-post-header
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/images/default_user.jpg' alt='')
              .font-weight-bold.mr-3
                .mb-2
                  | Anda mendapatkan penawaran pekerjaan untuk anda...
                button.btn.btn-outline-success.btn-sm(type='button') Lihat Pekerjaan
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 4d
        .box.shadow-sm.rounded.bg-white.mb-3
          .box-title.border-bottom.p-3
            h6.m-0 Sudah Terlewat
          .box-body.p-0
            .p-3.d-flex.align-items-center.border-bottom.osahan-post-header
              .dropdown-list-image.mr-3.d-flex.align-items-center.bg-danger.justify-content-center.rounded-circle.text-white DRM
              .font-weight-bold.mr-3
                .text-truncate DAILY RUNDOWN: MONDAY
                .small Nunc purus metus, aliquam vitae venenatis sit amet, porta non est. 
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right(style='')
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 3d
            .p-3.d-flex.align-items-center.border-bottom.osahan-post-header
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/images/default_user.jpg' alt='')
              .font-weight-bold.mr-3
                .text-truncate DAILY RUNDOWN: SATURDAY
                .small
                  | Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 3d
            .p-3.d-flex.align-items-center.border-bottom.osahan-post-header
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/images/default_user.jpg' alt='')
              .font-weight-bold.mr-3
                .mb-2
                  span.font-weight-normal Selamat Dieka Prastya (diekapras)
                  |   telah lima tahun berada di ANORA...
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 4d
            .p-3.d-flex.align-items-center.border-bottom.osahan-post-header
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/images/default_user.jpg' alt='')
              .font-weight-bold.mr-3
                div
                  span.font-weight-normal Selamat Dieka Prastya (diekapras)
                  |   telah lima tahun berada di ANORA...
                  .small.text-success
                    i.fa.fa-check-circle
                    |  Anda mengirim pesan ke ANORA
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 4d
            .p-3.d-flex.align-items-center.border-bottom.osahan-post-header
              .dropdown-list-image.mr-3.d-flex.align-items-center.bg-success.justify-content-center.rounded-circle.text-white M
              .font-weight-bold.mr-3
                .text-truncate DAILY RUNDOWN: MONDAY
                .small Nunc purus metus, aliquam vitae venenatis sit amet, porta non est. 
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 3d
            .p-3.d-flex.align-items-center.border-bottom.osahan-post-header
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/images/default_user.jpg' alt='')
              .font-weight-bold.mr-3
                .text-truncate DAILY RUNDOWN: SATURDAY
                .small
                  | Pellentesque semper ex diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 3d
            .p-3.d-flex.align-items-center.border-bottom.osahan-post-header
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/images/default_user.jpg' alt='')
              .font-weight-bold.mr-3
                .mb-2
                  span.font-weight-normal Selamat Dieka Prastya (diekapras)
                  |   telah lima tahun berada di ANORA...
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 4d
            .p-3.d-flex.align-items-center.osahan-post-header
              .dropdown-list-image.mr-3
                img.rounded-circle(src='/images/default_user.jpg' alt='')
              .font-weight-bold.mr-3
                div
                  span.font-weight-normal Selamat Dieka Prastya (diekapras)
                  |   telah lima tahun berada di ANORA...
                  .small.text-success
                    i.fa.fa-check-circle
                    |  Anda mengirim pesan ke ANORA...
              span.ml-auto.mb-auto
                .btn-group
                  button.btn.btn-light.btn-sm.rounded(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.mdi.mdi-dots-vertical
                  .dropdown-menu.dropdown-menu-right
                    button.dropdown-item(type='button')
                      i.mdi.mdi-delete
                      |  Delete
                    button.dropdown-item(type='button')
                      i.mdi.mdi-close
                      |  Turn Off
                br
                .text-right.text-muted.pt-1 4d
