extends layoutauth

block content
 .bg-white
  .container
    .row.justify-content-center.align-items-center.d-flex.vh-100
      .col-lg-4.mx-auto
        .osahan-login.py-4
          .text-center.mb-4
            a(href='index.html')
              img(src='/images/logo-horizontal.png' style='width: 200px !important' alt='')
            h5.font-weight-bold.mt-3 Bergabung dengan ANORA
            p.text-muted Dedikasikan kemampuan professionalmu
            if successes
              for success in successes
                div.alert.alert-success 
                  strong #{ success }
            if errors
              for error, i in errors
                div.alert.alert-danger
                  strong #{ error }
          form(action='/auth/register' method='post')
            .form-row
              .col
                .form-group
                  label.mb-1 Nama depan
                  .position-relative.icon-form-control
                    i.mdi.mdi-account.position-absolute
                    input.form-control(type='text' name='firstname')
              .col
                .form-group
                  label.mb-1 Nama belakang
                  .position-relative
                    input.form-control(type='text' name='lastname')
            .form-group
              label.mb-1 Email
              .position-relative.icon-form-control
                i.mdi.mdi-email-outline.position-absolute
                input.form-control(type='email' name='email')
            .form-group
              label.mb-1 Password (6 atau lebih karakter)
              .position-relative.icon-form-control
                i.mdi.mdi-key-variant.position-absolute
                input.form-control(type='password' name='password')
            .form-group
              label.mb-1
                | Anda setuju dengan 
                a(href='#') Perjanjian Pengguna
                | , 
                a(href='#') Privacy Policy
                | , dan 
                a(href='#') Cookie Policy
                | .
            button.btn.btn-success.btn-block.text-uppercase(type='submit')  Setuju & Bergabung
            .text-center.mt-3.border-bottom.pb-3
              p.small.text-muted Atau login menggunakan
              .row
                .col-6
                  button.btn.btn-outline-instagram.btn-block(type='button')
                    i.mdi.mdi-instagram
                    |  Instagram
                .col-6
                  button.btn.btn-outline-facebook.btn-block(type='button')
                    i.mdi.mdi-facebook
                    |  Facebook
            .py-3.d-flex.align-item-center
              a(href='/forgot-password') Lupa kata sandi?
              span.ml-auto
                | Sudah memiliki akun ANORA? 
                a(href='/login') Masuk

